APP_ENV=development
APP_SECRET_KEY=
ENCRYPTION_KEY=
TIMEZONE=Asia/Tashkent
PUBLIC_BASE_URL=http://localhost:8000
WEBAPP_URL=http://localhost:3000

BOT_TOKEN=
BOT_USERNAME=
OWNER_TELEGRAM_ID=6190984042
WEBHOOK_SECRET=
LOG_CHAT_ID=
BOT_MODE=polling

DATABASE_URL=postgresql+asyncpg://premium:premium@127.0.0.1:5432/premium
REDIS_URL=redis://127.0.0.1:6379/0

TON_NETWORK=mainnet
TONAPI_KEY=
TONCENTER_API_KEY=
HOT_WALLET_VERSION=v5r1
HOT_WALLET_MNEMONIC_FILE=
ADMIN_TON_ADDRESS=
ADMIN_TON_MEMO=

FRAGMENT_MODE=direct
FRAGMENT_API_KEY=
SENTRY_DSN=
